[submodule "vendor/open62541pp"]
	path = vendor/open62541pp
	url = https://github.com/open62541pp/open62541pp.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:KaspersTools/imgui.git
	branch = feature/MainUIElements
